
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(164, 201, 249);
    font-weight: bold;
    text-align: center;
    border: solid
}

.footer:hover {
    background-color: rgb(123, 198, 157);
}